<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.eclipse.gemoc.ale.interpreted.engine.ui.launcher.Launcher"
            id="org.eclipse.gemoc.ale.interpreted.engine.ui.launcher"
            modes="run, debug"
            name="Executable model with GEMOC ALE interpreted engine">
      </launchConfigurationType>
   </extension>
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.gemoc.ale.interpreted.engine.ui.launcher.tabs.LauncherTabGroup"
            id="org.eclipse.gemoc.ale.interpreted.engine.ui.launcher.tabGroup"
            type="org.eclipse.gemoc.ale.interpreted.engine.ui.launcher">
      </launchConfigurationTabGroup>
   </extension>
      <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.gemoc.ale.interpreted.engine.ui.launcher"
            icon="icons/gemoc-model-ale-icon-16.png"
            id="org.eclipse.gemoc.ale.interpreted.engine.ui.launcher.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
</plugin>
