<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

<extension
point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.gemoc.gemoc_language_workbench.samples.category"
            class="org.eclipse.gemoc.ale.language.wb.sample.deployer.wizards.AleFsmExampleWizard"
            finalPerspective="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective"
            hasPages="false"
            icon="icons/language-16.png"
            id="org.eclipse.gemoc.ale.language.wb.sample.deployer.fsm.wizard"
            name="GEMOC ALEFSM Language"
            preferredPerspectives="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective">
         <description>
           FSM (Finite State Machine) language implementation using ALE GEMOC Engine
         </description>
</wizard> 

      <wizard
            canFinishEarly="true"
            category="org.eclipse.ui.Examples/org.eclipse.gemoc.gemoc_modeling_workbench.samples.category"
            class="org.eclipse.gemoc.ale.language.mb.sample.deployer.wizards.AleFsmExampleWizard"
            finalPerspective="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective"
            hasPages="false"
            icon="icons/gemoc-model-ale-icon-16.png"
            id="org.eclipse.gemoc.ale.language.wb.sample.deployer.fsm.wizard"
            name="GEMOC models for ALEFSM Language"
            preferredPerspectives="org.eclipse.gemoc.xdsmlframework.ide.ui.xdsml.perspective">
         <description>
           FSM model example for ALEFSM language (using ALE GEMOC Engine)
         </description>
</wizard> 
</extension>

</plugin>
