<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gemoc.opsemanticsview.gen">
      <org.eclipse.gemoc.opsemanticsview.gen
            class="org.eclipse.gemoc.ale.interpreted.engine.trace.ALEOperationalSemanticsViewGenerator">
      </org.eclipse.gemoc.opsemanticsview.gen>
   </extension>
   <extension
         id="org.eclipse.gemoc.ale.interpreted.engine.sirius.ALESiriusInterpreterProvider.id"
         point="org.eclipse.sirius.common.expressionInterpreter">
      <expressionInterpreterProvider
            interpreterProviderClass="org.eclipse.gemoc.ale.interpreted.engine.sirius.ALESiriusInterpreterProvider">
      </expressionInterpreterProvider>
   </extension>
</plugin>
