<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--
-->
<plugin>
  <extension point="org.eclipse.emf.ecore.generated_package">
    <!-- @generated fsm -->
    <package uri="http://www.gemoc.org/ale/fsm" class="org.eclipse.gemoc.sample.ale.fsm.FsmPackage" genModel="model/fsm.genmodel" />
  </extension>
  <extension point="org.eclipse.gemoc.gemoc_language_workbench.xdsml">
    <XDSML_Definition name="org.eclipse.gemoc.sample.ale.fsm.FSM" xdsmlFilePath="platform:/plugin/org.eclipse.gemoc.sample.ale.fsm.model/model/fsm.dsl" modelLoader_class="org.eclipse.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" />
  </extension>
</plugin>
